<header class="header">
    <div class="header__logos">
        <a href="/PariMatch/dist/" class="header__logo"><img src="./img/svg/logo.svg" alt=""></a>
        <div class="header__reward"><img src="./img/svg/reward1.svg" alt=""></div>
        <div class="header__reward"><img src="./img/svg/reward3.svg" alt=""></div>
    </div>
    <div class="header__lang">
        <a href="/"@@if (type === 'ru') { class="isActive"}>RU</a>
        <a href="@@if (pages === 'index1') {/PariMatch/dist/index_kz.html}@@if (pages === 'index2') {/PariMatch/dist/index_kz2.html}"@@if (type === 'kz') { class="isActive"}>KZ</a>
    </div>
    <div class="header__buttons" v-if="!isTablet && !isMobile">
        <a href="#" class="header__button"><span>@@text</span></a>
        <a href="#" class="header__button yellow"><span>@@text2</span></a>
    </div>
    <div class="header__socs" v-if="isTablet || isMobile">
        <a href="#"><img src="./img/svg/s1.svg" alt=""></a>
        <a href="#"><img src="./img/svg/s2.svg" alt=""></a>
    </div>
</header>