body {
    box-sizing: border-box;
}
*,::after,::before {
    box-sizing: inherit;
    outline: none;
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: #000 url('../img/bg2.jpg') 0 50% / 100% no-repeat;
    &.isTablet, &.isMobile {
        background: #000 url('../img/bg3.jpg') 0 0 / 100% no-repeat;
        height: auto;
    }
}
.isStyles {
    .wrapper {
        background: #000 url('../img/bg4.jpg') 0 50% / 100% no-repeat;
        &.isTablet, &.isMobile {
            background: #000 url('../img/bg3.jpg') 0 0 / 100% no-repeat;
            height: auto;
        }
        &.isMobile {
            .main_block__svg img.mob {
                max-width: 250px;   
            }
        }
    }
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
textarea {
    resize: none;
}
// scrollbar
/* width */
::-webkit-scrollbar {
    width: vw(10);
}

/* Track */
::-webkit-scrollbar-track {
    background: #EEEEEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F8FF13;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F8FF13;
}
// scrollbar end