<footer class="footer">
    <div class="footer__info">
        <div class="footer__links">
            <a href="#" target="_blank" class="footer__link"><img src="./img/svg/link1.svg" alt=""></a>
            <a href="#" target="_blank" class="footer__link"><img src="./img/svg/link2.svg" alt=""></a>
            <a href="#" target="_blank" class="footer__link"><img src="./img/svg/link3.svg" alt=""></a>
            <a href="#" target="_blank" class="footer__link"><img src="./img/svg/link4.svg" alt=""></a>
        </div>
        <div class="footer__copyright" v-if="!isTablet && !isMobile">Лицензия на осуществление деятельности букмекерской конторы №20019733 от 31.12.2020г. (действительна до 17.07.2028г.) выдана РГУ «Комитет индустрии туризма Министерства культуры и спорта Республики Казахстан»</div>
    </div>
    <div class="footer__socs">
        <a href="#" target="_blank"><img src="./img/svg/soc1.svg" alt=""></a>
        <a href="#" target="_blank"><img src="./img/svg/soc2.svg" alt=""></a>
        <a href="#" target="_blank"><img src="./img/svg/soc3.svg" alt=""></a>
    </div>
    <div class="footer__copyright" v-if="isTablet || isMobile">Лицензия на осуществление деятельности букмекерской конторы №20019733 от 31.12.2020г. (действительна до 17.07.2028г.) выдана РГУ «Комитет индустрии туризма Министерства культуры и спорта Республики Казахстан»</div>
</footer>